* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

/* HEADER */
.page {
  background-color: #385A64;
  height: 64px;
  padding-top: 20px;
  
}
.nama__git {
  color: white;
  margin-left: 162px;
  padding: 17px 0px;
  height: 64px;
  width: 487px;
  text-decoration: none;
  
}

/* HERO */
.hero {
  height: 670px;
  margin-top: 53px;
}

.hero__wrapper {
  display: flex;
}

.hero__content {
  margin-top: 80px;
}

.hero__image {
  margin-left: 125px;
  margin-right: 162px;
}

.hero__image img {
  width: 442px;
  height: 442px;
}

.hero__title {
  font-weight: bold;
}

span {
  color: #FF735C;
}

.hero__description {
  color: black;
  width: 487px;
  margin-bottom: 63.19px;
  text-align: left;
  margin-top: 32px;
  line-height: 1.5;
  font-size: 18px;
}

.hero__actions {
  padding-top: 10px;
}

/* LOCATION */
#location {
  width: 100%;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

.location__content {
  padding: 50px 0;
}

.location__title {
  color: #FF735C;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.location__cards {
  margin: 10px;
}

/* FOOTER */
.footer {
  text-align: center;
}

/* BUTTON COMPONENT */
.btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;
  background-color: #385a64;
  font-size: 18px;
  line-height: 21px;
}

.btn>a {
  text-decoration: none;
  color: white;
}

/* CARD COMPONENT */
.card {
  padding: 20px 0;
  display: flex;
  margin: 53px 0px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
  margin-right: 30px;
}

.card__header {
  position: absolute;
  top: -90px;
  height: 150px;
  width: 150px;
  background-color: #e9f5f3;
  border-radius: 50%;
}

.card__header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.card__point {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 0px;
  background-color: #ff735c;
  border: 3px solid rgba(255, 255, 255, 0.45);
  border-radius: 50%;
}

.card__point span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #385A64;
}

.card__description {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

/* RESPONSIVE */


@media screen and (max-width: 1140px) {
  .hero__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    
  }
  .card {
    width: 50%;
    flex-direction: column;
    margin: auto;
    padding-top: 73px;
  }
  .hero__description {
    text-align: center;
  }

  .hero__title {
    text-align: center;
  }

  .card__wrapper {
    margin-bottom: 20px;
  }
  
  .footer {
    padding-top: 20px;
  }

  .hero__actions {
    display: flex;
    justify-content: center;
  }

  .hero__image {
    margin: 0px;
  }

  .hero__image img {
    height: 350px;
    width: 350px;
  }
  
  #location {
    padding-top: 30px;
    margin-top: 67px;
  }

  .footer {
    padding-top: 20px;
  }

  .hero__content {
    margin-top: 30px;
  }

  .btn {
    padding: 15px 70px;
  }
}

@media screen and (max-width: 576px) {
  .hero__description {
    width: 250px;
    
  }

  .card {
    width: 80%;
    padding-top: 40px;
  }

  .nama__git {
    margin-left: 100px;
  }

  .hero__description {
    margin-bottom: 40px;
  }

  #location {
    margin-top: 100px;
  }
  .card__wrapper {
    margin-right: 0px;
  }

  .hero__image img {
    width: 300px;
    height: 300px;
  }
}